<!DOCTYPE html>
<html lang="ru">
	<head>
        <meta charset="utf-8">
		<link rel='icon' href="/static/frontend/img/i.png" type='image/x-icon'> 
		<title>INTERBELLUM</title>
			<!-- Bootstrap -->
		<link href="/static/frontend/css/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" >
		<link href="/static/frontend/css/style.css" rel="stylesheet" type="text/css" >
	</head>


	<body>
		<div class="container">
            
            <!--  -->
			<div class="span12">
                <div class="navbar ">
                    <div class="navbar-inner ">
                       <a class="brand" href="#"> Vashchenko </a>
                       
                       <ul class="nav">
                            <div class="span2"></div>
                            <li><a href="/"> Home </a></li>
                            <li class="active"><a href="#"> Albums </a></li>
                            <li><a href="/about"> About me</a></li>
                       </ul>
                    </div>
                </div>
                
                <h1> Albums </h1>
                {% for e in alb %}
                    <a href = "/albums/{{ e.name}}"> {{ e.name}} </a>
                    <br>
                {% endfor %}  
                <hr>
			</div>
		</div>
	</body>
</html>
