<!DOCTYPE html>
<html lang="ru">
	<head>
        <meta charset="utf-8">
		<link rel='icon' href="/static/frontend/img/i.png" type='image/x-icon'> 
		<title>Vashchenko.com</title>
		<link type="text/css" href="/static/frontend/css/main.css" rel="stylesheet">
		<link href="/static/frontend/css/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" >
		<link href="/static/frontend/css/style.css" rel="stylesheet" type="text/css" >
	        <title>Contact us</title>

	</head>

<body>
 
  <fieldset>
 <legend>
         <h2>Leave feedback</h2>
 </legend>

    <form action="" method="post">
        <div class="field">
            {% if form.subject.errors %}
            	<label style="color: red;", for="id_subject">Subject:</label>	  
	   {% else %}
		<label style="color: black;", for="id_subject">Subject:</label> 	
	   {% endif %}
            {{ form.subject }}
        </div>
 
        <div class="field">
            {% if form.email.errors %}
          	 <label style="color: red;" , for="id_email">Your e-mail:</label>
 	   {% else %}
		 <label style="color: black;" , for="id_email">Your e-mail:</label>
	   {% endif %}
            {{ form.email }}
        </div>
        <div class="field">
            {% if form.message.errors %}
                 <label style="color: red;" , for="id_message">Message:</label>
	    {% else %}
		 <label style="color: black;" , for="id_message">Message:</label>
	   {% endif %}
            {{ form.message }}
        </div>
	<div class="field">
	   {% if form.captcha.errors %}
          	 <label style="color: red;" , for="id_email">Code in the image:</label>
 	   {% else %}
		 <label style="color: black;" , for="id_email">Code in the image:</label>
	   {% endif %}
            {{ form.captcha }} 
	</div>
  </fieldset>
        <input id="submit" type="submit" value="Submit">
    </form>
</body>
</html>
